* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dracula-white: #f8f8f2;

  --dracula-green: #92fa9b;
  --dracula-purple: #b696f5;
  --dracula-cyan: #a0e6fb;

  --dracula-pink: #ff92df;
  --dracula-light-pink: #fff2fc;
  --dracula-yellow: #ffffa5;
  --dracula-orange: #ffa962;

  --dracula-grey: #aab2cd;
  --dracula-navy: #282a35;
  --dracula-red: #ff6e6e;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth,wght.ttf);
}

body {
  background: linear-gradient(var(--dracula-light-pink), white);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  padding: 1rem;
}
