* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dracula-green: #69ff94;
  --dracula-purple: #bd93f9;
  --dracula-navy: #282a36;
  --dracula-cyan: #8be9fd;

  --yacine-white: #f8f7f8;
  --yacine-blue: #31a1f2;
  --yacine-green: #80dee0;
  --yacine-seaweed: #09212f;
  --yacine-dark-grey: #04141e;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth,wght.ttf);
}

body {
  background-color: var(--dracula-navy);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  padding: 1rem;
}
