.app {
  display: flex;
  justify-content: center;
}

.getStarted {
  margin: 1rem;
  color: var(--dracula-green);
  font-size: 2rem;
}

.hello {
  margin: 1rem;
  color: var(--dracula-purple);
  font-size: 25.6px;
}

.task {
  border-radius: 0.7rem;
  border: 2px solid var(--dracula-grey);
  /* background-color: var(--dracula-navy); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskImage {
  height: 21em;
  display: block;
}

/* .bun-logo {
  transform: scale(1.2);
} */

.taskTitle {
  color: var(--dracula-cyan);
}

.deadLine {
  color: var(--dracula-cyan);
}

.selected {
  border: 3px solid var(--dracula-pink);
}

.taskNotes {
  width: 384px;
  height: 92px;
  border-radius: 0.5rem;
  background-color: var(--dracula-black2);
  padding: 1rem;
  color: var(--dracula-white);
}

.grid {
  display: grid;
  grid-template-columns: 436px 436px;
  grid-auto-rows: 244px;
  gap: 1.5rem;
}
