.app {
  /* width: 100vw; */

  display: grid;
  grid-template-columns: 271px 1fr;
  grid-template-rows: 57.27px 1fr;
  grid-template-areas:
    "header header"
    "nav main";
}

.header {
  grid-area: header;

  display: flex;
  justify-content: space-between;

  background-color: var(--dracula-background);
  border-bottom: 1px solid var(--dracula-purple);
  padding: 0.5rem;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  grid-area: nav;
  background-color: var(--dracula-background);
  border-right: 1px solid var(--dracula-purple);
}

.stickyNav {
  position: sticky;
  top: 57.27px;
  height: calc(100vh - 57.27px);
  z-index: 999;
}

.main {
  grid-area: main;
}

.title {
  color: var(--dracula-green);
  font-size: 1.75rem;
  margin-left: 1rem;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  height: 126px;
  border-bottom: 1px solid var(--dracula-purple);
}

.task:first-child {
  border-top: 1px solid var(--dracula-purple);
}

.task:hover {
  background-color: var(--dracula-selection);
}

.plusIcon {
  transform: scale(1);
  /* cursor: pointer; */
  filter: invert(100%);
}

/* .updateIcon {
  transform: scale(1.2);
  padding: 0.5rem;
}

.deleteIcon {
  transform: scale(1.2);
  padding: 0.5rem;
} */

.taskOperations {
  display: flex;
}

.updateIcon,
.deleteIcon {
  transform: scale(0.8);
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  filter: invert(100%);
}

a {
  color: var(--dracula-pink);
  text-decoration: none;
}
