.app {
  display: flex;
  justify-content: center;
}

.getStarted {
  margin: 1rem;
  color: var(--dracula-green);
  font-size: 2rem;
}

.hello {
  margin: 1rem;
  color: var(--dracula-purple);
  font-size: 25.6px;
}

.task {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  border: 3px solid transparent;
  cursor: pointer;
}

.taskImage {
  height: 21rem;
  display: block;
}

.taskContent {
  width: 42rem;
  height: 21rem;
  background-color: var(--unnamed-white);
  color: var(--unnamed-seaweed);
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskHeader {
  height: 5rem;
  background-color: var(--unnamed-seaweed);
  color: var(--unnamed-white);
}

.taskFooter {
  height: 10rem;
  background-color: var(--unnamed-sky-blue);
}

.selected {
  border: 3px solid var(--dracula-pink);
}
